.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(".../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
 }
 .container__imagem {
    padding: 1em;
    }
.lista-menu {
     display: none;
     position: absolute;
     top: 100%;
     width: 60vw;
 }
 .container__botao:checked ~ .lista-menu {
    display: block;
 }
 .lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
 }
  .lista-menu__item {
     padding: 1em;
     background-color: var(--branco);
}
.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao {
    display: none;  
}
.card__botoes {
    display: flex;
    justify-content: space-between;
}
.botoes {
    display: flex;
}
.botoes__item {
    margin: 0 0.5em;
}
.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}
    